footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  margin: 10px;
  height: 170px; }
  footer .header-icono {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
    margin-right: 20px; }
  footer .footer-redsocial {
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px; }
    footer .footer-redsocial:first-of-type {
      margin-left: 0; }
    footer .footer-redsocial:last-of-type {
      margin-right: 0; }

.headersec1 {
  background: #d5efe4;
  background: linear-gradient(179deg, #d5efe4 0%, #33f8e3); }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 170px; }
  header .header-icono {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 180px;
    margin: 20px; }
  header .header-nav {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px; }
  header .btn {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 8px;
    border-radius: 30px;
    margin: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    color: #000000;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
  header .btn > * {
    display: inline-block;
    transition: all ease-in-out .5s; }
  header .btn__visible {
    padding: 1.2rem 3rem;
    text-align: center; }
  header .btn__invisible {
    width: 100%;
    position: absolute;
    padding: 1.2rem 0;
    left: 0;
    top: -100%; }
  header .btn:hover {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px); }
  header .btn:hover .btn__visible {
    transform: translateY(100%); }
  header .btn:hover .btn__invisible {
    top: 0; }
  header .btn:focus {
    outline: none; }
  header .nav-links {
    text-decoration: none;
    color: #210071;
    margin: 20px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

* {
  margin: 0;
  padding: 0; }

.section1 {
  display: flex;
  align-items: center;
  padding: 0; }
  .section1 .section1content {
    align-items: center;
    padding: 20px; }
  .section1 .btn {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 8px;
    border-radius: 30px;
    margin: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    color: #000000;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
  .section1 .btn > * {
    display: inline-block;
    transition: all ease-in-out .5s; }
  .section1 .btn__visible {
    padding: 1.2rem 3rem;
    text-align: center; }
  .section1 .btn__invisible {
    width: 100%;
    position: absolute;
    padding: 1.2rem 0;
    left: 0;
    top: -100%; }
  .section1 .btn:hover {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px); }
  .section1 .btn:hover .btn__visible {
    transform: translateY(100%); }
  .section1 .btn:hover .btn__invisible {
    top: 0; }
  .section1 .btn:focus {
    outline: none; }
  .section1 p {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 450px;
    margin: 20px; }
  .section1 .main-phrase {
    font-size: 50px;
    width: 600px; }
  .section1 .imgsection1 {
    width: 870px;
    height: 740px;
    padding: 10px; }
  .section1 .loader {
    display: inline-block;
    width: 290px;
    height: 10px;
    border-radius: 40px;
    margin: 10px;
    background-color: white;
    position: relative;
    overflow: hidden; }
  .section1 .loader span {
    font: 700 22px monospace;
    text-transform: uppercase;
    margin: auto;
    color: #fff;
    letter-spacing: 5px; }
  .section1 .loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    background-image: linear-gradient(332deg, #47f0df, #6ffff1);
    border-radius: inherit;
    transform: scaleX(0);
    transform-origin: left;
    animation: load5123 1s infinite; }

@keyframes load5123 {
  50% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0);
    transform-origin: right; } }

.aboutus {
  display: flex;
  flex-direction: column; }
  .aboutus .article2 {
    background: #3ef8e4;
    background: linear-gradient(20deg, #3ef8e4 0%, #b3eee3 65%, #fff8da 90%); }

article {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding: 0px;
  background: #3ef8e4;
  background: linear-gradient(159deg, #3ef8e4 0%, #b3eee3 65%, #fff8da 93%); }
  article:nth-child(even) {
    background-color: #e8e8e8;
    margin-bottom: 0; }
  article:nth-child(odd) {
    flex-direction: row-reverse;
    margin-bottom: 0; }
  article img {
    background-color: rgba(255, 255, 255, 0.267);
    max-width: 40%;
    height: 800px;
    width: 105%;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px; }
  article div {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: center; }
    article div p {
      margin: 20px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.103);
      border-radius: 20px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      font-size: 25px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 2.0; }

.article:first-child {
  margin-bottom: 0;
  background: #3ef8e4;
  background: linear-gradient(141deg, #3ef8e4 0%, #b3eee3 65%, #fff8da 90%); }

.services {
  display: flex;
  position: relative;
  background-color: rgba(107, 255, 230, 0.8);
  padding: 20px; }
  .services h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .services div {
    display: block;
    align-items: stretch;
    width: 100%;
    background-color: #ffffff8a;
    border-radius: 15px;
    padding: 15px;
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-top: 150px; }
    .services div:last-of-type {
      margin-right: 0; }
    .services div img {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 10px;
      width: 200px;
      height: 200px;
      margin-left: 190px; }
    .services div p {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 50px; }
    .services div ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 42px; }
      .services div ul li {
        margin-bottom: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        line-height: 1.5; }
    .services div .btn {
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 8px;
      border-radius: 30px;
      margin: 25px;
      border: none;
      background: rgba(255, 255, 255, 0.23);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.5px);
      -webkit-backdrop-filter: blur(7.5px);
      color: #000000;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
    .services div .btn > * {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out .5s; }
    .services div .btn__visible {
      padding: 1.5rem 3.5rem;
      /* increase padding */
      text-align: center;
      justify-content: center; }
    .services div .btn__invisible {
      width: 100%;
      position: absolute;
      padding: 1.6rem 0;
      /* increased padding */
      left: 0;
      top: -100%; }
    .services div .btn:hover {
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.23);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.5px);
      -webkit-backdrop-filter: blur(7.5px); }
    .services div .btn:hover .btn__visible {
      transform: translateY(100%); }
    .services div .btn:hover .btn__invisible {
      top: 0; }
    .services div .btn:focus {
      outline: none; }

.contact {
  background: #3ef8e4;
  background: linear-gradient(173deg, #4cffed 0%, #b2eee2 60%, #fff8d9 95%); }
  .contact div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    width: 700px; }
    .contact div h2 {
      font-size: 80px;
      color: #fff; }
    .contact div p {
      font-size: 50px;
      background-color: #ffffff8e;
      padding: 10px;
      border-radius: 20px; }
  .contact form {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px; }
    .contact form label {
      border-radius: 15px;
      font-size: 25px; }
    .contact form input {
      width: 500px;
      height: 200px;
      background-color: #ffffffad;
      border-radius: 15px;
      border: none; }
      .contact form input:hover {
        border: none; }
      .contact form input::placeholder {
        border: none;
        margin: 20px;
        padding: 20px;
        font-size: 20px; }
    .contact form textarea {
      width: 500px;
      height: 300px;
      background-color: #ffffffad;
      border-radius: 15px;
      border: none; }
      .contact form textarea:hover {
        border: none; }
      .contact form textarea::placeholder {
        border: none;
        margin: 20px;
        padding: 20px;
        font-size: 20px; }
