@mixin flexbox($display, $direction, $wrap, $justify-content, $align-items){
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

.headersec1{
  background: rgb(213,239,228);
  background: linear-gradient(179deg, rgba(213,239,228,1) 0%, rgba(51,248,227,1) );
}

header {
  @include flexbox(flex, row, wrap, space-between, center);
  height: 170px;

  .header-icono {
    @include flexbox(flex, row, wrap, center, center);
    width: 240px;
    height: 180px;
    margin: 20px;


  }



  .header-nav {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px;

    
    }

    .btn {
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 8px;
      border-radius: 30px;
      margin: 20px;
      border: none;
      background: rgba(255, 255, 255, 0.23);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.5px);
      -webkit-backdrop-filter: blur(7.5px);
      color: #000000;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
    
    .btn > * {
      display: inline-block;
      transition: all ease-in-out .5s;
    }
    
    .btn__visible {
      padding: 1.2rem 3rem;
      text-align: center;
    }
    
    .btn__invisible {
      width: 100%;
      position: absolute;
      padding: 1.2rem 0;
      left: 0;
      top: -100%;
    }
    
    .btn:hover {
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.23);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.5px);
      -webkit-backdrop-filter: blur(7.5px);
    }
    
    .btn:hover .btn__visible {
      transform: translateY(100%);
    }
    
    .btn:hover .btn__invisible {
      top: 0;
    }
    
    .btn:focus {
      outline: none;
    }
    

    .nav-links {
      text-decoration: none;
      color: #210071;
      margin: 20px;
      font-size: 25px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }






    

  
